.root {
  padding-block-end: 1rem;
  margin-inline: clamp(1rem, 5%, 2rem);
  margin-block-end: 3rem;
  border-block-end: 1px dashed var(--accents-3);

  & > h1 {
    font-weight: 500;
  }

  & > p {
    color: var(--accents-1);
    margin-block-start: 0.5rem;
  }
}
