.root {
  --color: var(--r-color, var(--blue));
  --height: 1px;
  background: linear-gradient(0deg, var(--color), var(--color)) no-repeat right
    bottom / 0 var(--height);
  padding-bottom: var(--height);
  text-decoration: none;

  @media (prefers-reduced-motion: no-preference) {
    transition: background-size 0.3s;
  }

  &:where(:hover, :focus-visible) {
    background-size: 100% var(--height);
    background-position-x: left;
    color: var(--r-color, var(--blue));
  }

  &.underline {
    --color: var(--accents-2);
    --height: 1px;
    position: relative;
    padding-bottom: var(--height);

    &:after {
      content: '';
      position: absolute;
      inset: auto 0 0 0;
      background: var(--accents-3);
      block-size: var(--height);
      z-index: -1;
    }

    &:where(:hover, :focus-visible) {
      --color: var(--r-color, var(--blue));
      background-size: 100% var(--height);
      background-position-x: left;
      color: var(--r-color, var(--blue));
      padding-bottom: var(--height);
    }
  }

  &.reset {
    background: none;
    transition: none;
  }

  & > svg > path {
    stroke: currentColor;

    &:where(:hover, :focus-visible) {
      stroke: var(--r-color, var(--blue));
    }
  }
}
