.root {
  background: var(--accents-5);
  padding-block: 1rem;
  border: 1px solid var(--accents-4);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  overflow: auto;

  @media (orientation: landscape) {
    &::-webkit-scrollbar {
      background: var(--accents-5);
      inline-size: 10px;
      block-size: 10px;
      transition: all 1s ease 0s;
    }
    &::-webkit-scrollbar-corner {
      background: none;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--accents-3);
      border: 3px solid var(--accents-5);
      border-radius: 5px;
      transition: all 1s ease 0s;
    }
  }
}

.inline {
  background: var(--accents-4);
  box-shadow: inset 1px 0 0 var(--accents-2);
}

:where(.numbers, .content) {
  display: table-cell;
}

.numbers {
  user-select: none;
  color: var(--accents-2);
  text-align: end;
  padding-left: 1rem;
}

.content {
  inline-size: 100%;
  padding-inline: 1rem;
}
